
html, body {
  overflow-x: hidden;
}


.aboutus-container {
    background-size:  cover;
    background-position:center center;
    background: linear-gradient(180deg, rgb(9, 32, 16) 0%, rgba(2, 111,130,1) 0%, rgba(2,5,255,0) 62%);
 
  }

  
  