

html * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:inherit;
    background-color:inherit;
  }
  
  
  .container {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 100px;
  }

  .chat-container {
      
    height: 770px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    color:#ffffff;
    background: linear-gradient(180deg, rgb(59, 32, 156) 0%, rgba(2, 110,198,1) 0%, rgba(255,255,255,0) 72%);
}

.agenda-background {
    background-image: url('../Assets/Images/pic-agenda.jpg');
    background-size:  cover;
    background-position:center center;
    
  }
  .container {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 100px;
  }
  
  .agenda-wrapper {
      margin-top: 40px;
      
  }

  
  